body {
  background-color: #faf3f0;
  position: relative;
}
.navigation-container {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.item-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  position: absolute;
  right: 1.2rem;
}
.sign-up {
  background-color: black;
  color: white;
  height: 2rem;
  width: 5rem;
  text-align: center;
  padding-top: 1rem;
}
/* next section */
.header-2 {
  position: absolute;
  top: 5rem;
  left: 3.2rem;
  display: flex;
}
.part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1rem;
  padding-right: 10rem;
}
.heading-1 {
  margin-top: 0px;

  font-family: "Jost", sans-serif;
  font-size: 3.1rem;
  line-height: 1.8rem;
}
.para {
  line-height: 0.5rem;
  font-family: sans-serif;
  font-size: 1.2rem;
}
.business-type {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-bottom: 2rem;
}
.s-business {
  background-color: black;
  color: white;
  height: 2.5rem;
  width: 9rem;
  text-align: center;
  padding-top: 1.5rem;
}
.company-logo {
  display: flex;
  gap: 2rem;
}
.part-2 {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  position: relative;
}
#img-1,
#img-2,
#img-3 {
  height: 20px;
  margin-bottom: 1rem;
}
#img-1 {
  height: 30rem;
  margin-left: 1rem;
}
#img-3 {
  height: 25rem;
  position: absolute;
  top: 10rem;
  right: 4rem;
}
#img-2 {
  height: 20rem;
}
